﻿<div>
    <select ng-init="fromAirline={name:''}" ng-model="fromAirline.code" >
        <option ng-repeat="airline in airlines | filter: filterFromCodes" value="{{airline.code}}">{{airline.name}}</option>
    </select>
    <select ng-init="toAirline={name:''}" ng-model="toAirline.code">
        <option ng-repeat="airline in airlines | filter: filterToCodes" value="{{airline.code}}">{{airline.name}}</option>
    </select>
    <a class="btn btn-primary" href="{{link}}">Go Search!</a>
</div>
