﻿<div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>
                Flight Number
            </td>
            <td>
                <sort-button sort-type="sortType" sort-reverse="sortReverse" 
                             sort-field="'departs24'" field-name="'Departs'"/>
            </td>
            <td>
                Arrives
            </td>
            <td>
                <sort-button sort-type="sortType" sort-reverse="sortReverse" 
                             sort-field="'mainCabinPrice'" field-name="'Main Cabin Price'" />
            </td>
            <td>
                <sort-button sort-type="sortType" sort-reverse="sortReverse" 
                             sort-field="'firstClassPrice'" field-name="'First Class Price'" />
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="flight in flights | orderBy:sortType:sortReverse">
            <td>{{flight.flightNumber}}</td>
            <td>{{flight.departs}}</td>
            <td>{{flight.arrives}}</td>
            <td>{{flight.mainCabinPrice | currency}}</td>
            <td>{{flight.firstClassPrice | currency}}</td>
        </tr>
        </tbody>
    </table>
</div>
