﻿<a ng-click="sortType = sortField; sortReverse = !sortReverse">
    {{fieldName}}
    <span ng-show="sortType == sortField && !sortReverse" class="fa fa-caret-down"></span>
    <span ng-show="sortType == sortField && sortReverse" class="fa fa-caret-up"></span>
</a>

